
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables
$primary-color: #2b3a42; // Dark Navy for backgrounds and footers
$secondary-color: #4db8b4; // Teal for accents and hover effects
$background-color: #e6f2f2; // Soft teal-gray background for a unique, consistent look
$text-color: #f1f1f1; // Off-white for text on dark backgrounds
$hover-color: #f1c40f; // Golden yellow for a more visible hover state
$accent-color: #4db8b4; // Teal for highlights
$text-color-dark: #2b3a42; // Dark navy for paragraph text (darker for readability)


html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}


.home .contactus {
  font-family: Arial, sans-serif;
}

.menu-links {
  font-size: 1.0em;
  transition: color 0.3s ease;
}

.menu-links a:hover {
  color: $hover-color; // Golden yellow hover effect for better contrast
  text-decoration: underline;
}

.content {
  font-family: "Merienda", cursive;
}

h2 {
  font-family: "Merienda", cursive;
  font-size: 2.5rem;
  color: $text-color-dark;
}

.welcomepage {
  font-size: 1.2rem;
  /* Animation styles */
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s ease-out forwards;
  /* Duration and easing */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
    /* Starts slightly below */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* Ends at its original position */
  }
}

.invoice-form-container {
  font-family: "Taviraj",ital;
  background-color: #ffffff; /* White background for the form */
  padding: 30px; /* Add padding inside the container */
  border: 1px solid #ddd; /* Light gray border for distinction */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a 3D effect */
  margin-top: 20px; /* Space from the top */
}

/* Responsive Styles */
@media (max-width: 768px) {
}

/* Small Mobile Devices */
@media (max-width: 480px) {
}